<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>New User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <h1>Add a new user</h1>
  <form action="/users/create" method="POST">
    First Name:<input type="text" name="first_name"><br>
    Last Name:<input type="text" name="last_name"><br>
    Email:<input type="text" name="email"><br>
    <input type="submit" value="Create">
  </form>
  <a href="/users">Go Back</a>
</body>
</html>