<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>dojos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
    <form action="" method="POST">
        <h2>Name:</h2><input type="text"/>
        <h2>Number</h2><input type="text"/>
        <h2>Serial Number:</h2><input type="text"/>
        <h2>How Tall You Are:</h2><input type="text"/>
        <h2>If You're successeptible to any diseases:</h2> <br>Yes<input type="radio" value="yes"/>No<input type="radio" value="no"/>
        <input type="submit"/>
    </form>
</body>
</html>