<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{context.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "books/style.css" %}">
</head>
<body>
    <div class="wrapper">
        <div class="header2">
                <div class="links2" style="display: inline-block;">
                    <a href='/books/'>Home</a>
                    <a href='/logout/'>Log Out</a>
                </div>
        </div>
        <div class="book">
            <h1>{{context.title}}</h1>
            <h5>Author: {{context.author.name}}</h5>
        </div>
        <div class="reviews">
            <h2>Reviews:</h2>
            <hr>
            {% for i in context.reviews.all %}
                <p>Rating: {{i.rating}}</p>
                <p><a href="/users/{{i.user.id}}">{{i.user.name}}</a> says: {{i.content}}</p>
                <hr>
            {% endfor %}
        </div>
        <div class="add_review">
            <form action="/process/" method="POST">
                {% csrf_token %}
                <input type="hidden" name="form" value="add_review">
                <input type="hidden" name="book" value="{{context.id}}">
                <h3>Add A Review</h3>
                <textarea name="review" id="" cols="50" rows="5"></textarea>
                <br>
                <h3 style="display: inline-block;">Rating:</h3>
                <select name='rating'>
                    <option value ='1'>1</option>
                    <option value ='2'>2</option>
                    <option value ='3'>3</option>
                    <option value ='4'>4</option>
                    <option value ='5'>5</option>
                </select>
                <br>
                <input type="submit" value="Add Review" style="margin-left: 330px;">
            </form>
        </div>

    </div>
</body>
</html>