 /* *{
    display: block;
    font-family: 'Times New Roman', Times, serif;
}  */
h1{
    background-color: rgb(215,38,56);
    color:rgb(191,215,234);
    height: 60px;
    width: auto;
    font-size:42pt;
    border-radius:3px;
    margin:5px;
    padding:5px;
}
h2{
    background-color: rgb(12,24,33);
    font-size:28pt;
    height: 20px;
    width: 650px;
}
 .margin_list{
    margin:10px;
}
#wrapper{
    background-color:rgb(18,53,91);
    height: auto;
    width: 1300px;
    padding:10px;
    border-radius:2%;
    list-style-type: disc;
    list-style-position: inside;
}
#sidebar{
    background-color:rgb(8,126,139);
    list-style-type: disc;
    list-style-position: inside;
    height: auto;
    width: 200px;
    border-radius:2%;
    margin:5px 20px 5px 5px;
    padding:10px;
    display:inline-block;
    text-align: left;
}
#content {
    background-color: rgb(12,24,33);
    color:rgb(191,215,234);
    display: inline-block;
    height:auto;
    width:1000px;
    vertical-align: top;
    border-radius:2%;
    padding:10px;
    font-size:12pt;
    margin-top:5px;
}
 #list{
    display:inline-block;
    color: blue;
}
#content a{
    display:inline;
}
 #wrapper footer{
    font-size: 12pt;
    height: 30px;
    width: 1245px;
    background-color: rgb(92,102,114);
    border-radius: 16px;
    padding:10px;
    margin:10px;
    color:rgb(191,215,234);
    padding-top:20px;
} 
#sidebar ul{
    text-align: left;
    margin: 2px;
    padding:5px;
}
#sidebar ul li{
    padding-left:10px;
    margin:0px;
}
