*{
    display: block;
}
#wrapper{
    background-color:blue;
    height: auto;
    width: 960px;
    display:inline-block;
    padding:10px;
    border-radius:2%;
}
#sidebar{
    background-color: lightblue;
    height: auto;
    width: 200px;
    border-radius:2%;
    margin:5px;
    padding:10px;
    display:block;
}
#content {
    background-color: black;
    color:lightblue;
    display: inline-block;
    height:auto;
    width:700px;
    vertical-align: top;
    border-radius:2%;
    padding:5px;
    font-size:12pt;
}
#list{
    display:inline-block;
    color: blue;
}
#wrapper header{
    background-color: red;
    height: 60px;
    width: auto;
    font-size:42pt;
    border-radius:3%;
    margin:5px;
    padding:5px;
}
#content header{
    background-color: black;
    font-size:36pt;
    height: 60px;
    width: 650px;
    vertical-align: top;
    display:block;
}
#content ul{
    display:block;
    color:lightblue;
}
#wrapper footer{
    font-size: 18pt;
    height: 30px;
    width:960px;
    display:block;
    background-color: grey;
    border-radius:3%;
    padding:5px;
    display: inline-block;
}
#wrapper footer a{
    display:inline-block;
}