<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Display Time</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h2>The Current Time Is:</h2>
    <div class="time">
        <h1>{{date}}</h1>
        <h1>{{time}}</h1>
    </div>
</body>
<style>
    *{
        margin: 0px;
        padding: 0px;
        text-align: center;
    }
    h2{
        border: 3px solid black;
        width:300px;
        margin:10px 10px 10px 450px;
    }
    .time{
        width:600px;
        margin-left:300px;
        border: 3px solid black;
    }
</style>
</html>